@media screen and (min-width:801px){
    .slider-container{
        display:none;
    }
    .slider-controls{
        display:none;
    }
    .projects .content .controls{
        display:none;
    }
}
@media screen and (max-width:800px){

    #projectsBottomH3{
        display:initial;
    }

    .slider-container .project .overlay .links > a{
        width:96px;
        height:96px;
        background-size:cover;
        filter:invert(1);
        margin-right:60px;
        margin-left:60px;
        display:inline-block;
      }




    .slider-container {
        margin: 0px auto;
        width: 100%;
        position: relative;
    }
    
    .slider-container .project {
        width: 100%;
        display:none;
        transition: opacity 1s;
        z-index: 1;
    }
    
    .slider-container .project.active {
        display:initial;
    }
    
    .slider-controls .paginations {
        width: 60%;
    }
    
    .slider-controls .paginations ul {
        list-style: none;
        margin: 0;
        text-align: center;
        display:inline-block;
        position:relative;
        z-index:5;
        padding:0;
        margin-top:10px;
    }
    
    .slider-controls .paginations ul li {
        display: inline-block;
        background-color: #f6f6f6;
        color: #333;
        font-weight: bold;
        height: 28px;
        width: 28px;
        border-radius: 50%;
        margin: 0 2px;
        line-height: 28px;
        cursor: pointer;
    }
    
    .slider-controls .paginations ul li.active {
        background-color: #009688;
        color: #fff;
    }
    
    .projects .content .controls{
        display:flex;
      }
    
      .projects .content .controls > div{
        margin:10px;
      }
    
      .projectsList{
        display:none;
      }
        .project .overlay{
            height:100%;
        }

    .projects .content .controls >div:hover{
        cursor:pointer;
    }

    .projects .content .project .overlay span{
        font-size:20px;
    }
}

@media screen and (max-width:450px){
    .slider-container .project.active {
        width: 100%;
        height:250px;
        display:block;
        transition: opacity 1s;
        z-index: 1;
    }

    .slider-container .project .overlay .links > a{
        width:64px;
        height:64px;
        background-size:cover;
        margin-right:30px;
        margin-left:30px;
        display:inline-block;
      }

      .projects .content .project .overlay span{
        font-size:16px;
    }
}

@media screen and (max-width:360px){
    .slider-container .project.active {
        width: 100%;
        height:200px;
        display:block;
        transition: opacity 1s;
        z-index: 1;
    }

    .projects .content .project .overlay span{
        font-size:14px;
    }
    
}