body,
h1,
h2,
h3,
html {
 margin:0
}
@font-face {
 font-family:playfair_displayregular;
 src:url(fonts/playfairdisplay-variablefont_wght-webfont.woff2) format("woff2"),
 url(fonts/playfairdisplay-variablefont_wght-webfont.woff) format("woff");
 font-weight:400;
 font-style:normal
}
section {
 height:100vh;
 display:flex;
 position:relative;
 background:#272822
}
main {
 height:100vh;
 overflow:hidden
}
nav {
 width:100%;
 position:fixed;
 margin:0 auto;
 z-index:2;
 display:flex;
 align-items:center;
 z-index:2
}
.name {
 flex-basis:20%;
 color:#fff;
 font-size:28px
}
.nav-links {
 flex:1;
 text-align:right
}
.nav-links ul li {
 list-style:none;
 display:inline-block;
 margin:0 20px;
 font-size:20px
}
.nav-links ul li a {
 color:#fff;
 text-decoration:none
}
.delay-0 {
 animation-delay:0s
}
.delay-025 {
 animation-delay:.25s
}
.delay-05 {
 animation-delay:.5s
}
.delay-075 {
 animation-delay:.75s
}
.delay-1 {
 animation-delay:1s
}
.delay-125 {
 animation-delay:1.25s
}
.delay-15 {
 animation-delay:1.5s
}
.delay-175 {
 animation-delay:1.75s
}
.delay-2 {
 animation-delay:2s
}
.delay-225 {
 animation-delay:2.25s
}
.delay-250 {
 animation-delay:2.5s
}
.delay-275 {
 animation-delay:2.75s
}
.delay-3 {
 animation-delay:3s
}
.delay-325 {
 animation-delay:3.25s
}
.delay-350 {
 animation-delay:3.5s
}
.delay-375 {
 animation-delay:3.75s
}
.delay-4 {
 animation-delay:4s
}
.delay-425 {
 animation-delay:4.25s
}
.delay-450 {
 animation-delay:4.5s
}
.delay-475 {
 animation-delay:4.75s
}
.delay-5 {
 animation-delay:5s
}
.about,
.contact,
.home,
.projects {
 height:100%;
 width:100%
}
.content {
 height:100%;
 width:100%
}
.home {
 height:100%;
 width:100%;
 background-image:url(../images/homebackground.jpg);
 color:#fff;
 text-align:center;
 display:flex;
 justify-content:center;
 align-items:center
}
.home .content {
 text-align:center;
 display:none;
 flex-direction:column;
 justify-content:center;
 align-items:center
}
.content {
 font-family:playfair_displayregular;
 color:#fff;
 flex-direction:column;
 justify-content:center;
 align-items:center
}
.content h1 {
 font-size:8rem
}
.content h3 {
 font-size:4rem
}
links {
 display:flex;
 justify-content:center
}
links a {
 height:48px;
 width:48px;
 margin:5px;
 background-size:cover;
 filter:invert(1)
}
links .linkedin {
 background-image:url(../images/iconmonstr-linkedin-3.svg)
}
links .github {
 background-image:url(../images/mark-github.svg)
}
links .resume {
 background-image:url(../images/curriculum-resume-svgrepo-com.svg)
}
links>a:hover {
 filter:invert(60%) sepia(51%) saturate(5031%) hue-rotate(159deg) brightness(92%) contrast(101%)
}
links>a:nth-child(1) {
 animation-delay:3.5s
}
links>a:nth-child(2) {
 animation-delay:3.75s
}
links>a:nth-child(3) {
 animation-delay:4s
}
#aboutContent {
 text-align:center;
 display:none
}
#aboutContent p {
 font-size:20px;
 width:70%;
 margin:10px auto;
 line-height:25px
}
.aboutSkills {
 display:flex;
 flex-wrap:wrap;
 width:80%;
 justify-content:center;
 margin:0 auto
}
.aboutSkills img {
 height:256px;
 width:256px;
 margin:10px
}
.projects .content .controls {
 display:none;
 display:flex;
 align-content:center;
 justify-content:space-between;
 margin-top:10px;
 margin-bottom:10px
}
.projects .content .controls>div {
 background-size:cover;
 height:30px;
 width:42px
}
.projects .content .controls .leftArrow {
 background-image:url(../images/arrowL.png)
}
.projects .content .controls .rightArrow {
 background-image:url(../images/arrowR.png)
}
.header {
 background-color:rgba(0,0,0,.5);
 box-shadow:1px 1px 4px 0 rgba(0,0,0,.2);
 width:100%;
 z-index:3;
 display:flex;
 position:fixed
}
.header ul {
 margin:0;
 padding:0;
 list-style:none;
 overflow:hidden;
 margin-left:auto
}
.header li a {
 color:#fff;
 display:block;
 padding:20px 20px;
 text-decoration:none
}
.header .menu-btn:hover,
.header li a:hover {
 background-color:rgba(0,0,0,.9)
}
#projectsBottomH3 {
 width:80%;
 margin:10px auto;
 display:none
}
.header .logo {
 display:block;
 float:left;
 font-size:2em;
 padding:10px 20px;
 text-decoration:none;
 color:#fff;
 opacity:1;
 letter-spacing:2px
}
.header .menu {
 clear:both;
 max-height:0;
 transition:max-height .2s ease-out
}
.header .menu-icon {
 cursor:pointer;
 float:right;
 padding:28px 20px;
 position:relative;
 user-select:none
}
.header .menu-icon .nav-icon {
 background:#fff;
 display:block;
 height:2px;
 position:relative;
 transition:background .2s ease-out;
 width:18px
}
.header .menu-icon .nav-icon:after,
.header .menu-icon .nav-icon:before {
 background:#fff;
 content:"";
 display:block;
 height:100%;
 position:absolute;
 transition:all .2s ease-out;
 width:100%
}
.header .menu-icon .nav-icon:before {
 top:5px
}
.header .menu-icon .nav-icon:after {
 top:-5px
}
.header .menu-btn {
 display:none
}
.header .menu-btn:checked~.blur,
.header .menu-btn:checked~.menu {
 max-height:300px;
 max-height:290px
}
.header .menu-btn:checked~.menu-icon .nav-icon {
 background:0 0
}
.header .menu-btn:checked~.menu-icon .nav-icon:before {
 transform:rotate(-45deg);
 top:0
}
.header .menu-btn:checked~.menu-icon .nav-icon:after {
 transform:rotate(45deg);
 top:0
}
.projectsList {
 display:flex;
 align-content:middle;
 flex-wrap:wrap;
 justify-content:space-evenly;
 width:100%;
 margin:0 auto
}
.projectsList .project {
 width:560px;
 height:315px;
 margin:15px;
 position:relative
}
.project img {
 width:100%;
 height:100%;
 border-radius:30px
}
#projectsContent {
 text-align:center;
 margin-top:4rem;
 display:none
}
.project .overlay {
 position:absolute;
 bottom:0;
 left:0;
 right:0;
 background-color:rgba(0,0,0,.7);
 overflow:hidden;
 width:100%;
 height:0;
 transition:.5s ease;
 display:flex;
 align-items:center;
 flex-wrap:wrap;
 justify-content:center;
 border-radius:30px
}
.project:hover .overlay {
 height:100%
}
.overlay .projectButtonPage {
 background-image:url(../images/eye.svg)
}
.overlay .projectButtonGitHub {
 background-image:url(../images/mark-github.svg)
}
.overlay .links>a {
 width:96px;
 height:96px;
 background-size:cover;
 filter:invert(1);
 margin-right:60px;
 margin-left:60px;
 display:inline-block;
 z-index:1;
 position:relative
}
.overlay .links>a:hover {
 filter:invert(60%) sepia(51%) saturate(5031%) hue-rotate(159deg) brightness(92%) contrast(101%)
}
.overlay .upperText {
 align-self:flex-start;
 padding:10px 10px;
 font-size:20px
}
.overlay .bottomText {
 width:80%;
 font-size:18px
}
.overlay .links {
 width:100%
}
.contact h1 {
 font-size:4em
}
.contact .content {
 display:flex
}
.contact .content h1 {
 margin:0 50px 100px 50px;
 width:100%
}
form {
 display:flex;
 width:30%;
 flex-direction:column;
 background:rgba(0,0,0,.2);
 color:#fff;
 margin:0 auto;
 border-radius:20px;
 -webkit-box-shadow:0 0 10px 1px #000;
 -moz-box-shadow:0 0 10px 1px #000;
 box-shadow:0 0 10px 1px #000
}
#my-form>h1 {
 text-align:center;
 margin:0;
 color:#00c9c9
}
form .input {
 margin:10px
}
form * {
 padding:5px;
 font-family:playfair_displayregular
}
form button {
 width:50%;
 margin:0 auto;
 border-radius:50px;
 background-color:#002d30;
 font-size:30px;
 color:#fff;
 -webkit-box-shadow:0 0 2px 2px #004840;
 -moz-box-shadow:0 0 2px 2px #004840;
 box-shadow:0 0 2px 2px #004840;
 border:none;
 margin:10px auto 20px auto
}
form button:hover {
 cursor:pointer;
 background:#47807f
}
.input {
 z-index:0;
 position:relative;
 outline:0
}
.input label {
 display:block;
 z-index:-1
}
.input input:not([type=submit]):not([type=checkbox]):not([type=radio]),
.input textarea {
 background-color:transparent;
 padding-left:17px;
 box-sizing:border-box;
 width:100%;
 height:50px;
 outline:0;
 border:none;
 box-shadow:none;
 color:#fff;
 border-bottom:1px solid #00c9c9;
 font-size:18px
}
.input textarea {
 resize:none;
 height:200px
}
.input input:not([type=submit]):not([type=checkbox]):not([type=radio]).filled+label,
.input input:not([type=submit]):not([type=checkbox]):not([type=radio]):focus+label,
.input textarea.filled+label,
.input textarea:focus+label {
 font-size:13px;
 top:-2px;
 left:14px;
 padding:0 5px;
 color:#00c9c9;
 background-color:none;
 outline:0;
 border:none;
 box-shadow:none;
 z-index:1
}
.input label {
 -webkit-transition:all .2s ease;
 -moz-transition:all .2s ease;
 -o-transition:all .2s ease;
 transition:all .2s ease;
 font-size:16px;
 position:absolute;
 top:50%;
 transform:translateY(-50%);
 left:17px;
 color:#fff
}
.message label {
 top:15%
}
.infoContainer {
 width:50%;
 display:flex;
 flex-direction:column;
 justify-content:space-between/*! height: ; */
}
.infoContainer .linksContainer>a {
 width:96px;
 height:96px;
 background-size:cover;
 filter:invert(1)
}
.infoContainer .contactGitHub {
 background-image:url(../images/mark-github.svg)
}
.infoContainer .contactLinkedIn {
 background-image:url(../images/iconmonstr-linkedin-3.svg)
}
.infoContainer .contactMail {
 background-image:url(../images/mail.svg)
}
form p {
 font-size:30px;
 display:none;
 color:#00c9c9;
 width:100%;
 text-align:center
}
.linksContainer {
 display:flex;
 justify-content:space-between;
 width:80%;
 margin:0 auto
}
.infoContainer .linksContainer>a:hover {
 filter:invert(65%) sepia(25%) saturate(6333%) hue-rotate(138deg) brightness(98%) contrast(101%)
}
#contactContent {
 flex-direction:row
}
@media screen and (min-width:3840px) {
 .header .logo {
  font-size:4em;
  padding:20px 40px;
  letter-spacing:4px
 }
 .header .menu>li {
  font-size:2em
 }
 .header .menu>li a {
  padding:40px 60px
 }
 .home {
  background-size:cover
 }
 .home h1 {
  font-size:16rem
 }
 .home h3 {
  font-size:8em
 }
 .home links a {
  height:96px;
  width:96px;
  margin:10px
 }
 .content h3 {
  font-size:8em
 }
 #aboutContent p {
  font-size:40px;
  margin:20px auto;
  line-height:50px
 }
 .aboutSkills img {
  height:512px;
  width:512px;
  margin:20px
 }
 .projectsList .project {
  width:1120px;
  height:630px;
  margin:30px
 }
 .overlay .upperText {
  padding:20px 20px;
  font-size:40px
 }
 .overlay .bottomText {
  font-size:36px
 }
 .overlay .links>a {
  width:192px;
  height:192px;
  margin-right:120px;
  margin-left:120px
 }
 .contact h1 {
  font-size:8em
 }
 .contact .content h1 {
  margin:0 100px 0 100px
 }
 form {
  border-radius:20px
 }
 form .input {
  margin:20px
 }
 form * {
  padding:10px
 }
 .input input:not([type=submit]):not([type=checkbox]):not([type=radio]),
 .input textarea {
  background-color:transparent;
  padding-left:34px;
  box-sizing:border-box;
  width:100%;
  height:100px;
  color:#fff;
  border-bottom:2px solid #00c9c9;
  font-size:36px
 }
 .input label {
  font-size:32px;
  position:absolute;
  top:50%;
  transform:translateY(-50%);
  left:34px;
  color:#fff
 }
 .input textarea {
  height:400px
 }
 .message label {
  top:15%
 }
 .input input:not([type=submit]):not([type=checkbox]):not([type=radio]).filled+label,
 .input input:not([type=submit]):not([type=checkbox]):not([type=radio]):focus+label,
 .input textarea.filled+label,
 .input textarea:focus+label {
  font-size:26px;
  top:-4px;
  left:28px;
  padding:0 10px
 }
 form button {
  margin:0 auto;
  border-radius:100px;
  font-size:60px;
  -webkit-box-shadow:0 0 4px 4px #004840;
  -moz-box-shadow:0 0 4px 4px #004840;
  box-shadow:0 0 4px 4px #004840;
  margin:20px auto 40px auto
 }
 form p {
  font-size:60px
 }
 .infoContainer .linksContainer {
  margin-top:280px
 }
 .infoContainer .linksContainer>a {
  height:192px;
  width:192px
 }
}
@media screen and (max-width:1366px) {
 .contact .content h1 {
  font-size:3.5rem
 }
 .content h1 {
  font-size:5rem
 }
 .content h3 {
  font-size:2.5rem
 }
 .content p {
  font-size:1rem
 }
 .aboutSkills {
  width:90%
 }
 .aboutSkills img {
  height:192px;
  width:192px;
  margin:5px
 }
 .projectsList .project {
  width:400px;
  height:225px
 }
 .project .overlay .links>a {
  width:48px;
  height:48px
 }
 .project .overlay span {
  font-size:16px
 }
}
@media screen and (max-width:1280px) {
 .aboutSkills {
  width:70%
 }
 .content h3 {
  font-size:2rem;
  margin-top:2em
 }
 .aboutSkills img {
  height:160px;
  width:160px
 }
 .projectsList .project {
  width:384px;
  height:198px
 }
}
@media (max-width:1024px) {
 .projectsList .project .overlay {
  height:100%
 }
 #contactContent {
  flex-direction:column-reverse;
  justify-content:normal
 }
 form {
  width:60%
 }
 .infoContainer {
  width:95%;
  margin:30px auto
 }
 .contact .content .infoContainer h1 {
  margin:0;
  padding:5px;
  margin-bottom:30px;
  margin-top:30px
 }
}
@media (min-width:851px) {
 .header li {
  float:left
 }
 .header li a {
  padding:20px 30px
 }
 .header .menu {
  clear:none;
  float:right;
  max-height:none
 }
 .header .menu-icon {
  display:none
 }
}
@media (max-width:851px) {
 .header {
  display:block;
  background-color:rgba(0,0,0,.8)
 }
 .header .logo {
  font-size:1em;
  padding:20px 20px
 }
 .contact .content h1 {
  font-size:2.5rem
 }
}
@media (max-width:768px) {
 .contact .content h1 {
  font-size:2rem
 }
}
@media screen and (max-width:450px) {
 form {
  width:95%
 }
 .infoContainer {
  margin-top:10px
 }
 .contact .content .infoContainer h1 {
  margin-top:0;
  font-size:1.5rem
 }
 .contact .content .infoContainer .linksContainer>a {
  width:64px;
  height:64px
 }
 nav .name {
  font-size:1.5em
 }
 .content h1 {
  font-size:3em
 }
 #page-2 {
  align-items:center
 }
 .content h3 {
  font-size:1.5em;
  margin:0
 }
 #aboutContent p {
  font-size:.75em
 }
 .aboutSkills {
  width:90%
 }
 .aboutSkills img {
  height:80px;
  width:80px
 }
}
@media screen and (max-width:412px) {
 .contact .content .infoContainer h1 {
  display:none
 }
 .contact .content .infoContainer .linksContainer {
  margin-top:20px
 }
 form .input textarea {
  height:80px
 }
}
@media screen and (max-width:360px) {
 .content h1 {
  font-size:2.5em
 }
 .aboutSkills img {
  height:64px;
  width:64px
 }
 .content h3 {
  font-size:1em
 }
 #aboutContent p {
  width:90%;
  line-height:20px
 }
 .contact .content .infoContainer .linksContainer {
  margin-top:10px;
  margin-bottom:10px
 }
 .contact .content .infoContainer {
  margin-bottom:10px
 }
 .contact .content .infoContainer .linksContainer>a {
  width:48px;
  height:48px
 }
 #contactContent {
  justify-content:normal
 }
}
